/* Google Fonts Links */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap,Quicksand:wght@400;500;600;700&display=swap");

/* End Google Fonts Links */


/* Variables*/

$primary-font: "Bebas Neue",
cursive;
$secondary-font: "Quicksand",
sans-serif;
$primary-color: #a58055;
$secondary-color: #14151a;
$gray-color: #9f9f9f;
$light-color: #fefefe;
$dark-color: #000000;
$transition-1: all 0.5s;

/* END Variables */

@import "utilities";
@import "mixins";