@import 'abstracts';
@import 'components.scss';

/* General Settings */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: $secondary-font;
    color: $gray-color;
    background-color: $light-color;
}

.container {
    max-width: 114rem;
    margin: auto;
    width: 100%;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $primary-font;
    /* color: $light-color; */
}

ul {
    list-style: none;
}

img {
    width: 100%;
}


/* Top Header */

.top-header {
    border-bottom: 1px solid $primary-color;
    background-color: $secondary-color;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            h1 {
                font-size: 5rem;
                font-family: $primary-font;
                color: $primary-color;
            }
        }
        .header-social {
            display: flex;
            li {
                margin: 0 1rem;
                padding: 1rem;
                a {
                    font-size: 2rem;
                    color: $primary-color;
                    transition: $transition-1;
                }
                &:hover a {
                    color: $light-color;
                }
            }
        }
        .login-area {
            a {
                margin: 0 1rem;
                padding: 1rem;
                font-size: 2rem;
                color: $primary-color;
                transition: $transition-1;
                &:hover {
                    color: $light-color;
                }
            }
        }
    }
}